## Results Notebook

This notebook demonstrates the results of the data pipeline by loading and displaying data from Silver and Gold tables.

Installs the required libraries for working with Delta Lake and Google Cloud Storage.

In [16]:
! pip install deltalake google-cloud-storage pyarrow

Requirement already satisfied: deltalake in ./.venv/lib/python3.13/site-packages (1.0.2)
Requirement already satisfied: google-cloud-storage in ./.venv/lib/python3.13/site-packages (3.1.1)
Collecting pyarrow
  Downloading pyarrow-20.0.0-cp313-cp313-macosx_12_0_arm64.whl.metadata (3.3 kB)
Requirement already satisfied: arro3-core>=0.5.0 in ./.venv/lib/python3.13/site-packages (from deltalake) (0.5.1)
Requirement already satisfied: deprecated>=1.2.18 in ./.venv/lib/python3.13/site-packages (from deltalake) (1.2.18)
Requirement already satisfied: google-auth<3.0.0,>=2.26.1 in ./.venv/lib/python3.13/site-packages (from google-cloud-storage) (2.40.3)
Requirement already satisfied: google-api-core<3.0.0,>=2.15.0 in ./.venv/lib/python3.13/site-packages (from google-cloud-storage) (2.25.1)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.2 in ./.venv/lib/python3.13/site-packages (from google-cloud-storage) (2.4.3)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.7.2 in ./.venv/lib/python3.13/site-packages (from google-cloud-storage) (2.7.2)
Requirement already satisfied: requests<3.0.0,>=2.22.0 in ./.venv/lib/python3.13/site-packages (from google-cloud-storage) (2.32.4)
Requirement already satisfied: google-crc32c<2.0.0,>=1.1.3 in ./.venv/lib/python3.13/site-packages (from google-cloud-storage) (1.7.1)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in ./.venv/lib/python3.13/site-packages (from google-api-core<3.0.0,>=2.15.0->google-cloud-storage) (1.70.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in ./.venv/lib/python3.13/site-packages (from google-api-core<3.0.0,>=2.15.0->google-cloud-storage) (6.31.1)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in ./.venv/lib/python3.13/site-packages (from google-api-core<3.0.0,>=2.15.0->google-cloud-storage) (1.26.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in ./.venv/lib/python3.13/site-packages (from google-auth<3.0.0,>=2.26.1->google-cloud-storage) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in ./.venv/lib/python3.13/site-packages (from google-auth<3.0.0,>=2.26.1->google-cloud-storage) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in ./.venv/lib/python3.13/site-packages (from google-auth<3.0.0,>=2.26.1->google-cloud-storage) (4.9.1)
Requirement already satisfied: charset_normalizer<4,>=2 in ./.venv/lib/python3.13/site-packages (from requests<3.0.0,>=2.22.0->google-cloud-storage) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.13/site-packages (from requests<3.0.0,>=2.22.0->google-cloud-storage) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.13/site-packages (from requests<3.0.0,>=2.22.0->google-cloud-storage) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.13/site-packages (from requests<3.0.0,>=2.22.0->google-cloud-storage) (2025.6.15)
Requirement already satisfied: pyasn1>=0.1.3 in ./.venv/lib/python3.13/site-packages (from rsa<5,>=3.1.4->google-auth<3.0.0,>=2.26.1->google-cloud-storage) (0.6.1)
Requirement already satisfied: wrapt<2,>=1.10 in ./.venv/lib/python3.13/site-packages (from deprecated>=1.2.18->deltalake) (1.17.2)
Downloading pyarrow-20.0.0-cp313-cp313-macosx_12_0_arm64.whl (30.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.8/30.8 MB 25.7 MB/s eta 0:00:0000:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-20.0.0

Sets up the environment and imports required libraries for working with Delta Lake and Google Cloud Storage.

In [ ]:
from deltalake import DeltaTable
import pandas as pd
import os

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/src/tests/gke-service-account.json"

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

## Silver

In [ ]:
delta_table_path = 'gs://bees-storage/silver/'
dt = DeltaTable(delta_table_path)
df = dt.to_pandas()

In [ ]:
df.head(10)

,address_1,address_2,address_3,brewery_type,city,country,id,latitude,longitude,name,phone,postal_code,state,state_province,street,website_url,ingestion_at
0,946 N Shepherd Dr Suite A,None,None,micro,Houston,United States,377038fb-785b-4d4c-bc17-2c8514340e76,NaN,NaN,Elder Son Brewing Co.,7134855749,77008,Texas,Texas,946 N Shepherd Dr Suite A,https://eldersonbrewing.com/,2025-06-23 21:46:58.913610+00:00
1,Schleppe-Platz 1,None,None,large,Klagenfurt am W�rthersee,Austria,c88759b6-88d6-4172-bed7-61dec61e50aa,46.641697,14.286632,Schleppe Brauerei (Heineken),+4346342700,9020,K�rnten,K�rnten,Schleppe-Platz 1,http://www.schleppe.at,2025-06-23 21:46:58.913610+00:00
2,Brauhausgasse 6,None,None,large,Villach,Austria,f51b3f3d-be14-40da-914a-3b5c83f75bbf,46.616625,13.851682,Villacher Brauerei (Heineken),+434242277770,9500,K�rnten,K�rnten,Brauhausgasse 6,https://www.villacher.com,2025-06-23 21:46:58.913610+00:00
3,L67 7,None,None,nano,Wimitz,Austria,3fe1de22-c30c-446d-b2f2-913ca9f6378e,46.839926,14.355971,Wimitzbr�u,+43421228074,9311,K�rnten,K�rnten,L67 7,http://www.wimitzbraeu.com,2025-06-23 21:46:58.913610+00:00
4,Mautner-Markhof-Stra�e 11,None,None,large,Schwechat,Austria,4c8dff75-fa8c-41ce-9999-1f063b59addb,48.144924,16.467173,Schwechater Brauerei (Heineken),+431701400,2320,Nieder�sterreich,Nieder�sterreich,Mautner-Markhof-Stra�e 11,https://www.schwechater.at,2025-06-23 21:46:58.913610+00:00

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8375 entries, 0 to 8374
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   address_1       7618 non-null   object
 1   address_2       110 non-null    object
 2   address_3       35 non-null     object
 3   brewery_type    8375 non-null   object
 4   city            8375 non-null   object
 5   country         8375 non-null   object
 6   id              8375 non-null   object
 7   latitude        6054 non-null   float64
 8   longitude       6054 non-null   float64
 9   name            8375 non-null   object
 10  phone           7528 non-null   object
 11  postal_code     8375 non-null   object
 12  state           8375 non-null   object
 13  state_province  8375 non-null   object
 14  street          7618 non-null   object
 15  website_url     7185 non-null   object
 16  ingestion_at    8375 non-null   datetime64[us, UTC]
dtypes: datetime64[us, UTC](1), float64(2), object(14)
memory usage: 1.1+ MB

## Gold

In [ ]:
delta_table_path = 'gs://bees-storage/gold/'
dt = DeltaTable(delta_table_path)
df = dt.to_pandas()

In [23]:
df.head(100)

,brewery_type,country,state,city,brewery_count,ingestion_at
0,brewpub,United States,Tennessee,Knoxville,8,2025-06-23 22:05:52.520040+00:00
1,planning,United States,Kentucky,Louisville,1,2025-06-23 22:05:52.520040+00:00
2,brewpub,United States,Idaho,Boise,5,2025-06-23 22:05:52.520040+00:00
3,brewpub,United States,California,Sacramento,5,2025-06-23 22:05:52.520040+00:00
4,brewpub,United States,South Carolina,Charleston,3,2025-06-23 22:05:52.520040+00:00
...,...,...,...,...,...,...
95,brewpub,United States,California,Vista,3,2025-06-23 22:05:52.520040+00:00
96,brewpub,United States,Washington,Tacoma,3,2025-06-23 22:05:52.520040+00:00
97,planning,United States,California,Oakland,2,2025-06-23 22:05:52.520040+00:00
98,planning,United States,Pennsylvania,Philadelphia,3,2025-06-23 22:05:52.520040+00:00
99,contract,United States,Tennessee,Nashville,1,2025-06-23 22:05:52.520040+00:00

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5150 entries, 0 to 5149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brewery_type   5150 non-null   object
 1   country        5150 non-null   object
 2   state          5150 non-null   object
 3   city           5150 non-null   object
 4   brewery_count  5150 non-null   int64
 5   ingestion_at   5150 non-null   datetime64[us, UTC]
dtypes: datetime64[us, UTC](1), int64(1), object(4)
memory usage: 241.5+ KB